dist/
node_modules/
.pnpm-store/
.pnpm-debug.log
packages/*/dist/
.netlify/
!packages/api/dist/functions/trpc.js

**/vite.config.d.ts
**/vite.config.d.ts.map

**/.netlify/blobs-serve/
**/.netlify/functions-serve/
**/dist/src/